/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, nav, section, footer {
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin-top: 20px;
}

footer {

    color:black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for Contact Information */
#contact {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#contact h2 {
    margin-bottom: 10px;
}

#contact ul {
    list-style: none;
    padding-left: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li:before {
    content: "\2022"; /* Bullet point */
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
/* Set color for all links */
a {
    color: #4169e1; /* Change this to your desired link color */
}
